* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #e7bebe;
  min-height: 200px;
}

.header__wrapper {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__personal-info {
  width: 60%;
  background-color: #e7bebe;
  position: relative;
  border-right: 1px solid #524f4f;
}

.header__personal-info::after {
  content: "";
  border: 40px solid transparent;
  border-left: 30px solid #e7bebe;
  position: absolute;
  right: -52px;
  top: 64px;
}

.header__personal-info::before {
  content: "";
  border: 30px solid transparent;
  border-left: 34px solid #867a7a;
  position: absolute;
  right: -48px;
  top: 74px;
}

.header__name {
  color: #524f4f;
  padding: 25px 0 15px 50px;
  font-size: 50px;
}

.header__vacancy {
  background-color: #fff;
  color: #524f4f;
  padding: 5px 10px;
  border: 1px solid #524f4f;
  margin-left: 50px;
  font-size: 18px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
}

.header__wrapper-contact {
  text-align: end;
  letter-spacing: 0.06em;
}

.header__title-contact {
  color: #524f4f;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0;
}

.header__img {
  background-color: #e7bebe;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

.header__title {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  background-color: #e7bebe;
  padding: 23px 10px 0;
  color: #524f4f;
  letter-spacing: 0.5em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__education-list {
  color: #fff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  padding: 0;
  letter-spacing: 0.1em;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

.main__education-type-title {
  letter-spacing: 0.02em;
  font-style: normal;
  font-size: 20px;
}

.main__text {
  width: 90%;
  font-size: 18px;
  color: #524f4f;
  letter-spacing: 0.06em;
  text-align: justify;
}

.main__text-start {
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-style: italic;
}

.works-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-skills__wrapper-projects {
  border-left: 1px solid #524f4f;
}

.works-skills__projects {
  width: 60%;
  padding-left: 50px;
  padding-bottom: 50px;
}

.works-skills__list {
  color: #fff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0;
  letter-spacing: 0.1em;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 50px;
}

.works-skills__list_works {
  gap: 25px;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 24px;
}

.works-skills__img-project {
  border: 1px solid #524f4f;
  background-color: #e7bebe;
}

.works-skills__project {
  list-style: none;
  color: #524f4f;
  width: 320px;
  border-top: 1px solid #524f4f;
  border-left: 1px solid #524f4f;
  border-radius: 10px;
}

.works-skills__projects-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-skills__project-img {
  border-radius: 25%;
  margin: 10px 0;
}

.works-skills__project-text {
  min-width: 320px;
  border: 1px solid #524f4f;
  min-height: 60px;
  background-color: #e7bebe;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.works-skills__skill_language {
  font-size: 24px;
}

.works-skills__project-title {
  padding: 10px;
}

.wrapper-content {
  width: 40%;
  padding-left: 25px;
  padding-bottom: 50px;
  background-color: #524f4f;
}

.wrapper-content__wrapper-title {
  padding-top: 40px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
}

.wrapper-content__title {
  width: 75%;
  max-width: 250px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
}

.wrapper-content__img {
  background-color: #e7bebe;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.wrapper-content-white {
  width: 60%;
  padding-left: 50px;
  padding-bottom: 50px;
}

.wrapper-content-white__wrapper-title {
  padding-top: 40px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
}

.wrapper-content-white__title {
  width: 55%;
  max-width: 250px;
  border-top: 1px solid #524f4f;
  border-bottom: 1px solid #524f4f;
  padding-top: 10px;
  color: #524f4f;
  letter-spacing: 0.06em;
}

.wrapper-content-white__img {
  border: 1px solid #524f4f;
  background-color: #e7bebe;
}

@media (min-width: 320px) and (max-width: 768px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header__personal-info {
    width: 100%;
    border-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }
  .header__personal-info:after, .header__personal-info:before {
    border: 0px;
    border-left: 0px;
    padding: 15px 0 15px 0;
  }
  .header__title {
    display: none;
  }
  .header__name {
    padding: 0;
    font-size: 44px;
  }
  .header__vacancy {
    margin: 0;
  }
  .header__contacts {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
    gap: 35px;
  }
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__wrapper-contact {
    text-align: center;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__education-list {
    width: 70%;
    margin: 0 auto;
  }
  .main__text {
    margin: 0 auto;
  }
  .wrapper-content {
    width: 100%;
    text-align: center;
  }
  .wrapper-content-white {
    width: 97%;
    padding-left: 25px;
  }
  .wrapper-content-white__title {
    width: 75%;
  }
  .works-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works-skills__wrapper-projects {
    border: 0px;
  }
  .works-skills__project {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works-skills__project-img {
    width: 260px;
  }
  .works-skills__project-text {
    min-width: 270px;
  }
}
/*# sourceMappingURL=style.css.map */